
#define USE_ACC_SPI_ICM42688P
#define USE_GYRO_SPI_ICM42688P
#define USE_BARO_SPL06-001
#define USE_BARO_BMP280
#define USE_FLASH_SPI_W25Q128JVPIQ
#define USE_OSD_SPI_AT7456ELAH


board_name AOCODARCG440AIO
manufacturer_id SJET

# resources
resource BEEPER 1 A08
resource MOTOR 1 B00
resource MOTOR 2 B01
resource MOTOR 3 B06
resource MOTOR 4 C13
resource LED_TRIP 1 B02
resource SERIAL_TX 1 A09
resource SERIAL_TX 2 A02
resource SERIAL_TX 3 B10
resource SERIAL_TX 4 C10
resource SERIAL_RX 1 A10
resource SERIAL_RX 2 A03
resource SERIAL_RX 3 B11
resource SERIAL_RX 4 C11
resource I2C_SCL 1 A15
resource I2C_SDA 1 B07
resource USB_DETECT 1 C15
resource LED 1 C14
resource SPI_SCK 1 A05
resource SPI_SCK 2 B13
resource SPI_SCK 3 B03
resource SPI_SDI 1 A06
resource SPI_SDI 2 B14
resource SPI_SDI 3 B04
resource SPI_SDO 1 A07
resource SPI_SDO 2 B15
resource SPI_SDO 3 B05
resource ADC_BATT 1 A00
resource ADC_CURR 1 A01
resource FLASH_CS 1 B09
resource OSD_CS 1 B12
resource GYRO_EXTI 1 C04
resource GYRO_CS 1 A04



# timer
timer B02 AF2
# pin B02: TIM5 CH1 (AF2)
timer B00 AF2
# pin B00: TIM3 CH3 (AF2)
timer B01 AF2
# pin B01: TIM3 CH4 (AF2)
timer B06 AF5
# pin B06: TIM8 CH1 (AF5)
timer C13 AF6
# pin C13: TIM8 CH4N (AF6)

#huyuequ zhizuo

# dma
dma SPI_SDO 1 14
# SPI_SDO 1: DMA2 Channel 7 Request 11
dma SPI_SDO 2 10
# SPI_SDO 2: DMA2 Channel 3 Request 13
dma SPI_SDO 3 9
# SPI_SDO 3: DMA2 Channel 2 Request 15
dma SPI_SDO 4 NONE
dma SPI_SDI 1 13
# SPI_SDI 1: DMA2 Channel 6 Request 10
dma SPI_SDI 2 11
# SPI_SDI 2: DMA2 Channel 4 Request 12
dma SPI_SDI 3 8
# SPI_SDI 3: DMA2 Channel 1 Request 14
dma SPI_SDI 4 NONE
dma SPI_TX 1 14
# SPI_TX 1: DMA2 Channel 7 Request 11
dma SPI_TX 2 10
# SPI_TX 2: DMA2 Channel 3 Request 13
dma SPI_TX 3 9
# SPI_TX 3: DMA2 Channel 2 Request 15
dma SPI_TX 4 NONE
dma SPI_RX 1 13
# SPI_RX 1: DMA2 Channel 6 Request 10
dma SPI_RX 2 11
# SPI_RX 2: DMA2 Channel 4 Request 12
dma SPI_RX 3 8
# SPI_RX 3: DMA2 Channel 1 Request 14
dma SPI_RX 4 NONE
dma ADC 1 6
# ADC 1: DMA1 Channel 7 Request 5
dma pin B02 1
# pin B02: DMA1 Channel 2 Request 72
dma pin B00 2
# pin B00: DMA1 Channel 3 Request 63
dma pin B01 3
# pin B01: DMA1 Channel 4 Request 64
dma pin B06 4
# pin B06: DMA1 Channel 5 Request 49
dma pin C13 5
# pin C13: DMA1 Channel 6 Request 52


# feature
feature RX_SERIAL
feature LED_STRIP
feature OSD
feature AIRMODE
feature ANTI_GRAVITY

# serial
serial 20 1 115200 57600 0 115200
serial 0 1 115200 57600 0 115200
serial 1 0 115200 57600 0 115200
serial 2 2 115200 57600 0 115200
serial 3 8192 115200 57600 0 115200


# master
set mag_bustype = I2C
set mag_i2c_device = 1
set baro_bustype = I2C
set baro_i2c_device = 1
set blackbox_device = SPIFLASH
set dshot_burst = OFF
set current_meter = ADC
set battery_meter = ADC
set ibata_scale = 750
set beeper_inversion = ON
set beeper_od = OFF
set motor_pwm_protocol = DSHOT600
set serialrx_provider = CRSF
set max7456_spi_bus = 2
set flash_spi_bus = 3
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW0
set gyro_1_align_yaw = 900
set adc_device = 2
set dshot_idle_value = 450
save

